<div id="<%= dom_id art_piece %>">
  <p>
    <strong>Name:</strong>
    <%= art_piece.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= art_piece.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= art_piece.address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= art_piece.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= art_piece.longitude %>
  </p>

</div>
