<h1>Editing art piece</h1>

<%= image_tag @art_piece.get_icon, size: "100x100" %>

<%= render "form", art_piece: @art_piece %>

<br><br>

<!--
<p>Set art piece icon:
</p>

<%= form_with url: upload_art_icon_path(@art_piece), multipart: true do |form| %>
  <%= file_field_tag :picture, id: 'art_icon_upload_field' %>
  <%= form.submit 'Upload Icon'%>
<% end %>
-->

<br><br>

<div>
  <%= link_to "Show this art piece", @art_piece %> |
  <%= link_to "Back to art pieces", art_pieces_path %>
</div>
