<p style="color: green"><%= notice %></p>
<div class="container mt-4">
  <%= image_tag @art_piece.get_icon, size: "100x100" %>

  <%= render @art_piece %>
  <p>Your location: <%= @art_piece.format_location(session[:latitude].to_f, session[:longitude].to_f) %></p>
  <p>You are approximately <%= @art_piece.distance_to_pretty(session[:latitude].to_f, session[:longitude].to_f) %> away from this art piece.</p>

  <div>
    <div class = "row">
      <div class="row col-sm-6">
        <div class="col-sm-6">
          <%= link_to "Check-in to this art piece", checkin_path(@art_piece),class: "btn btn-primary" %>
        </div>
        <div class="col-sm-6">
          <%= link_to "Back to art pieces", art_pieces_path,class: "btn btn-primary" %>
        </div>
      </div> 
      <% if current_user.is_admin? %>
        <div class="row col-sm-6">
          <div class="col-sm-6">
            <%= link_to "Edit this art piece", edit_art_piece_path(@art_piece), id: "edit",class: "btn btn-primary" %>
          </div>
          <div class="col-sm-6">
            <%= button_to "Destroy this art piece", @art_piece, method: :delete, class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>      

</div>

