<h1><%= @user.name %>'s Stamps</h1>

<% ArtPiece.all.each do |art_piece| %>
  <div style="display:inline-block;">
    <div style="position:relative; height: 50px; width: 50px">

      <div style="position:absolute;">
        <% if art_piece.has_icon? %>
          <%= image_tag art_piece.icon_name, size: "50x50" %>
        <% else %>
          <%= image_tag "https://i.pinimg.com/originals/93/ae/51/93ae515eb75b21f3af334fd3888ee367.jpg", size: "50x50" %>
        <% end %>
      </div>

      <% if @user.has_stamp(art_piece) %>
        <div style="position:absolute; height: 50px; width: 50px; opacity: 0.5">
          <%= image_tag "https://png.pngtree.com/png-clipart/20230804/original/pngtree-vector-certified-stamp-insurance-control-checked-vector-picture-image_9512783.png", size: "50x50" %>
        </div>
        <% end %>

    </div>
    <p><%= art_piece.name %></p>
  </div>
<% end %>