<h1><%= @user.name %>'s Stamps</h1>

<div class="row">
  <% ArtPiece.all.each do |art_piece| %>
    <div class="col-3 mb-4 text-center">
      <%= link_to show_art_piece_path(art_piece) do %>
        <div class="position-relative" style="width: 100pt; height: 100pt;">
          <div class="position-absolute" style="opacity: <%= (@user.has_stamp(art_piece) ? '1' : '0.5') %>;">
            <div class="d-flex justify-content-center">
              <%= image_tag art_piece.get_icon, class: 'img-fluid stamp-icon' %>
            </div>
          </div>
          <% if @user.has_stamp(art_piece) %>
            <div class="position-absolute" style="opacity: 0.5;">
              <%= image_tag 'https://png.pngtree.com/png-clipart/20230804/original/pngtree-vector-certified-stamp-insurance-control-checked-vector-picture-image_9512783.png', class: 'img-fluid stamp-overlay' %>
            </div>
          <% end %>
        </div>
        <p><%= art_piece.name %></p>
      <% end %>
    </div>
  <% end %>

  
  
</div>

<%= link_to "Clear my stamps", clear_stamps_path, class: "btn btn-primary" %>
