<!-- app/views/map/show.html.erb -->
<h1>map</h1>

<div data-controller="geolocation" data-action="geolocation#search">
  <%# <button data-action="geolocation#search">Find me</button> %>
</div>

<p>Your Latitude   : <span id="lat"><%= @latitude %></span> </p>
<p>Your Longitude  : <span id="long"><%= @longitude %></span> </p>
<p>Accuracy in 'm' : <span id="acc"> 0 </span> </p>


<div id="map" style="height: 700px; width: 100%;"></div>

<script>
  var artPieces = <%= raw @art_pieces.to_json %>;
</script>

<script>
  var artPieces = <%= raw @art_pieces.to_json %>;
</script>




<script src="<%= asset_path 'map.js' %>"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEzQSINw3YNC7yj7sxOiHcks8FKYXcwk0&callback=init"></script>

